---
layout: default
---
<section class="intro">
  {{site.description}}
  {{ content }}
</section>

{% for post in site.posts %}
  <article>
    <h3><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h3>
    <time class="muted" datetime="{{post.date}}" pubdate>{{ post.date | date: "%-d %B %Y %-H:%M" }}</time>
    <p><a href="{{site.baseurl}}{{post.url}}" class="invisible">{{ post.content | normalize_whitespace | strip_html | truncatewords: 50 }} <span class="muted">{{ post.content | number_of_words | minus: 50 }} words more</span></a></p>
  </article>
{% endfor %}
