---
layout: default
---
<section class="content">
  <time class="date" datetime="{{page.date}}" pubdate>{{ page.date | date: "%-d %B %Y %-H:%M" }}</time>
  {{ content }}
  <nav class="relative">
    {% if page.previous %}
    <a href="{{ page.previous.url }}" rel="prev">prev</a>
    {% else %}
    <a href="/">home</a>
    {% endif %}
    <a href="https://github.com/Haroenv/blog/edit/gh-pages/{{page.path}}">edit</a>
    {% if page.next %}
    <a href="{{ page.next.url }}" rel="next">next</a>
    {% else %}
    <a href="/">home</a>
    {% endif %}
  </nav>
</section>
